@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "EditWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yazar Düzenleme Sayfası</h2>
@using (Html.BeginForm("EditWriter", "Writer", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Writer ID")
    @Html.TextBoxFor(x => x.WriterID, new { @class = "form-control" })
    <br />
    @Html.Label("Writer Name")
    @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
    <div style="color:red">
        @Html.ValidationMessageFor(x => x.WriterName)
    </div>
    <br />
    @Html.Label("Writer SurName")
    @Html.TextBoxFor(x => x.WriterSurName, new { @class = "form-control" })
    <div style="color:red">
        @Html.ValidationMessageFor(x => x.WriterSurName)
    </div>
    <br />
    @Html.Label("Writer Mail")
    @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
    <div style="color:red">
        @Html.ValidationMessageFor(x => x.WriterMail)
    </div>
    <br />
    @Html.Label("Writer PassWord")
    @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control" })
    <div style="color:red">
        @Html.ValidationMessageFor(x => x.WriterPassword)
    </div>
    <br />
    @Html.Label("Writer Ünvan")
    @Html.TextBoxFor(x => x.WriterTitle, new { @class = "form-control" })
    <div style="color:red">
        @Html.ValidationMessageFor(x => x.WriterTitle)
    </div>
    <br />
    @Html.Label("Writer Görsel Linki")
    @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control" })
    <div style="color:red">
        @Html.ValidationMessageFor(x => x.WriterImage)
    </div>
    <br />
    @Html.Label("Writer About")
    @Html.TextBoxFor(x => x.WriterAbout, new { @class = "form-control" })
    <div style="color:red">
        @Html.ValidationMessageFor(x => x.WriterAbout)
    </div>
    <br />
    <button class="btn btn-success">Değişiklikleri Uygula</button>
</div>
}

